@charset "UTF-8";
@import url(../css/reset.css);
.list {
  display: flex;
}

header {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 2% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 100px;
}
header .logo img {
  width: 100%;
}
header .search {
  display: none;
}
header .search img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  header .logo {
    width: 50px;
  }
}
@media screen and (max-width: tab) {
  header .logo {
    width: 50px;
  }
}
@media screen and (max-width: 430px) {
  header .logo {
    display: none;
  }
  header .search {
    display: block;
  }
}
@media screen and (max-width: mob) {
  header .logo {
    display: none;
  }
  header .search {
    display: block;
  }
}
header .head_center h2 {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}
header .head_center nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .head_center nav span a {
  font-size: 1.4rem;
  font-weight: 400;
  color: black;
}
@media screen and (max-width: 768px) {
  header .head_center h2 {
    font-size: 2rem;
  }
  header .head_center nav {
    display: none;
  }
}
@media screen and (max-width: tab) {
  header .head_center h2 {
    font-size: 2rem;
  }
  header .head_center nav {
    display: none;
  }
}
header .head_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header .head_right a {
  width: 30px;
}
header .head_right a img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  header .head_right {
    display: none;
  }
}
@media screen and (max-width: tab) {
  header .head_right {
    display: none;
  }
}
header .head_right_mob {
  display: none;
}
@media screen and (max-width: 768px) {
  header .head_right_mob {
    display: block;
  }
}
@media screen and (max-width: tab) {
  header .head_right_mob {
    display: block;
  }
}

footer {
  background-color: #fff;
}
footer .foot_about {
  background-color: #D9D9D9;
  padding: 20px 0;
  border-top: 1px solid #818181;
}
footer .foot_about > div {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  footer .foot_about > div .foot_name {
    display: none;
  }
}
@media screen and (max-width: tab) {
  footer .foot_about > div .foot_name {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  footer .foot_about > div {
    display: block;
  }
  footer .foot_about > div p {
    display: none;
  }
}
@media screen and (max-width: mob) {
  footer .foot_about > div {
    display: block;
  }
  footer .foot_about > div p {
    display: none;
  }
}
footer .foot_about > div .foot_name {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}
footer .foot_about > div p a {
  font-weight: 500;
  color: black;
  padding: 10px;
}
footer .foot_about > div .foot_name2 {
  display: none;
  text-align: center;
}
@media screen and (max-width: 430px) {
  footer .foot_about > div .foot_name2 {
    display: block;
  }
}
@media screen and (max-width: mob) {
  footer .foot_about > div .foot_name2 {
    display: block;
  }
}
footer .foot_about > div .foot_name2 b {
  font-size: 14px;
  font-weight: 500;
  display: block;
}
footer .foot_about > div .foot_name2 span {
  font-size: 11px;
  font-weight: 400;
  color: #6C6C6C;
}
footer .foot_info_out {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
footer .foot_info_out .foot_info_in {
  width: 80%;
  margin: 40px 0;
}
footer .foot_info_out .foot_info_in > div h3 {
  font-weight: 500;
}
footer .foot_info_out .foot_info_in > div p {
  margin: 10px 0;
}
footer .foot_info_out .foot_info_in > div p span {
  font-size: 12px;
  font-weight: 400;
  color: #6C6C6C;
  margin-right: 6px;
}
footer .foot_info_out .sns_icon {
  display: flex;
}
footer .foot_info_out .sns_icon a {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px;
  /*반복문for 4개반복 이름 문자는(1) */
  /*반복문for 4개반복 이름 문자는(2) */
  /*반복문for 4개반복 이름 문자는(3) */
  /*반복문for 4개반복 이름 문자는(4) */
}
footer .foot_info_out .sns_icon a:nth-of-type(1) {
  background: #D9D9D9 url("../img/(kdt)NIKE WOMEN-1/icon_1.png") center/60% no-repeat;
}
footer .foot_info_out .sns_icon a:nth-of-type(2) {
  background: #D9D9D9 url("../img/(kdt)NIKE WOMEN-1/icon_2.png") center/60% no-repeat;
}
footer .foot_info_out .sns_icon a:nth-of-type(3) {
  background: #D9D9D9 url("../img/(kdt)NIKE WOMEN-1/icon_3.png") center/60% no-repeat;
}
footer .foot_info_out .sns_icon a:nth-of-type(4) {
  background: #D9D9D9 url("../img/(kdt)NIKE WOMEN-1/icon_4.png") center/60% no-repeat;
}
@media screen and (max-width: 768px) {
  footer .foot_info_out {
    display: block;
  }
}
@media screen and (max-width: tab) {
  footer .foot_info_out {
    display: block;
  }
}
@media screen and (max-width: 430px) {
  footer .foot_info_out .foot_info_in {
    display: none;
  }
  footer .foot_info_out .sns_icon {
    display: none;
  }
}
@media screen and (max-width: mob) {
  footer .foot_info_out .foot_info_in {
    display: none;
  }
  footer .foot_info_out .sns_icon {
    display: none;
  }
}

article {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.5);
  top: 0;
  left: 0;
  display: none;
}

.search_view {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.5);
  top: 0;
  left: 0;
  display: none;
}

.search_view_web {
  position: fixed;
  width: 65%;
  background-color: rgb(255, 255, 255);
  top: 20px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}
.search_view_web p img {
  width: 100%;
}
.search_view_web input {
  width: 70%;
  height: 50px;
  color: #C2C2C2;
  border: 0;
  padding-left: 10px;
  margin: 0 20px;
}
.search_view_web a {
  padding: 5px;
}

main .main_story_01 {
  text-align: center;
}
main .main_story_01 figure p img {
  width: 100%;
}
main .main_story_01 figure figcaption {
  font-size: 28px;
  font-weight: 400;
  padding: 30px 0;
  margin-bottom: 300px;
}
main .main_story_02 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main .main_story_02 p img {
  width: 100%;
}
main .main_story_02 > div {
  width: 40%;
  margin: 5px 0 0 15px;
}
main .main_story_02 > div > b {
  font-size: 37px;
  font-weight: 500;
  display: inline-block;
}
main .main_story_02 > div > p {
  font-size: 24px;
  font-weight: 400;
  color: #545454;
  padding: 10px 0 30px;
}
main .main_story_02 > div span {
  font-size: 16px;
  font-weight: 400;
  color: #545454;
}
main .more_story {
  width: 80%;
  margin: 250px auto;
  text-align: center;
}
main .more_story p {
  font-size: 36px;
  font-weight: 400;
  margin-top: 50px;
}
main .more_story div {
  display: flex;
  justify-content: space-between;
}
main .more_story div figure {
  width: 33%;
}
main .more_story div figure p img {
  width: 100%;
}
main .more_story div figure figcaption {
  text-align: left;
  margin: 10px;
}
main .more_story div figure figcaption p {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;
}
main .more_story div figure figcaption span {
  color: #545454;
  font-size: 16px;
}

.more_story_480 {
  display: none;
}