article {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(196, 196, 196, 0.5);
    top: 0;
    left: 0;
    display: none;
}

.search_view {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(196, 196, 196, 0.5);
    top: 0;
    left: 0;
    display: none;

}

.search_view_web {
    position: fixed;
    width: 65%;
    background-color: rgb(255, 255, 255);
    top: 20px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;

    p {
        img {
            width: 100%;
        }
    }

    input {
        width: 70%;
        height: 50px;
        color: #C2C2C2;
        border: 0;
        padding-left: 10px;
        margin: 0 20px;
    }

    a {
        padding: 5px;
    }


}