@import url(../css/reset.css);
@import '../scss/_mixin.scss';


header {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 2% 5%;
    @include flexbox(sb, c);
    position: relative;
    top: 0;

    @include res(mob) {
        position: fixed;
    }

    .logo {
        width: 100px;

        img {
            width: 100%;
        }
    }


    .search {
        display: none;

        img {
            width: 100%;
        }
    }

    @include res(tab) {
        padding: 5%;

        .logo {
            width: 50px;
        }
    }

    @include res(mob) {
        .logo {
            display: none;
        }

        .search {
            display: block;
        }
    }



    .head_center {
        h2 {
            font-size: 3.5rem;
            font-weight: 600;
            text-align: center;
        }

        nav {
            @include flexbox(c, c);
            gap: 30px;

            span {
                a {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: black;
                }
            }
        }

        @include res(tab) {
            h2 {
                font-size: 2rem;
            }

            nav {
                display: none;
            }
        }

        @include res(mob) {
            h2 {
                display: none;
            }
        }
    }

    .head_right {
        @include flexbox(sb, c);
        gap: 30px;

        a {
            width: 30px;

            img {
                width: 100%;
            }
        }

        @include res(tab) {
            display: none;
        }

    }


    .head_right_mob {
        display: none;

        p {
            width: 23px;
            height: 20px;

            span {
                display: block;
                background-color: #404040;
                width: 23px;
                height: 2px;
                border: 1px;
                margin: 5px 0;
            }
        }

        @include res(tab) {
            display: block;
        }

    }

}

.head_right_mob.active {
    p {

        span:nth-of-type(1) {
            margin: 0;
            transform:
                translateY(7px) rotate(-45deg);
            transition: 1s;
        }

        span:nth-of-type(2) {
            opacity: 0;
        }

        span:nth-of-type(3) {
            margin: 0;
            transform:
                translateY(-7px) rotate(45deg);
            transition: 1s;

        }

    }
}


.menu_back {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);

    display: none;

    .menu_bar {
        width: 100%;
        height: 40%;
        background: #f0f0f0;
        text-align: center;

        .menu_01 {
            padding: 30px 0;
            border-bottom: 1px solid #C2C2C2;

            a {
                margin: 0 30px;
            }

        }

        .menu_02 {
            padding-top: 5%;

            p {
                margin: 5% 0;

                a {
                    font-size: 16px;
                    color: #000;
                }
            }
        }
    }
}

.menu_back.active {
    display: block;
}

.search_view {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(196, 196, 196, 0.5);
    top: 0;
    left: 0;
    display: none;

}

.search_view_web {
    position: fixed;
    width: 65%;
    background-color: rgb(255, 255, 255);
    top: 20px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;

    p {
        img {
            width: 100%;
        }
    }

    input {
        width: 70%;
        height: 50px;
        color: #C2C2C2;
        border: 0;
        padding-left: 10px;
        margin: 0 20px;
    }

    a {
        padding: 5px;
    }


}