@import url(../css/reset.css);
@import '../scss/_mixin.scss';


header {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 2% 5%;
    @include flexbox(sb, c);
    position: relative;
    top: 0;

    @include res(mob) {
        position: fixed;
    }

    .logo {
        width: 100px;

        img {
            width: 100%;
        }
    }

    .logo:hover {
        img {
            opacity: 0.5;
        }
    }


    .search {
        display: none;
        padding: 5% 0;

        img {
            width: 100%;
        }
    }

    @include res(tab) {
        .logo {
            display: none;
        }

        .search {
            display: block;
        }
    }



    .head_center {
        h2 {
            font-size: 3.5rem;
            font-weight: 600;
            text-align: center;
        }

        nav {
            @include flexbox(c, c);
            gap: 30px;

            span {
                a {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: black;
                }
            }

            span:hover {
                opacity: 0.5;
            }
        }

        @include res(tab) {
            h2 {
                font-size: 2rem;
            }

            nav {
                display: none;
            }
        }

        @include res(mob) {
            h2 {
                display: none;
            }
        }
    }

    .head_right {
        @include flexbox(sb, c);
        gap: 30px;

        a {
            width: 30px;

            img {
                width: 100%;
            }
        }

        a:hover {
            opacity: 0.5;
        }

        @include res(tab) {
            display: none;
        }

    }



    .head_right_mob {
        display: none;

        p {
            width: 23px;
            height: 20px;

            span {
                display: block;
                background-color: #404040;
                width: 23px;
                height: 2px;
                border: 1px;
                margin: 5px 0;
            }
        }

        @include res(tab) {
            display: block;
        }

    }

}

.head_right_mob.active {
    p {

        span:nth-of-type(1) {
            margin: 0;
            transform:
                translateY(7px) rotate(-45deg);
            transition: 1s;
        }

        span:nth-of-type(2) {
            opacity: 0;
        }

        span:nth-of-type(3) {
            margin: 0;
            transform:
                translateY(-7px) rotate(45deg);
            transition: 1s;

        }

    }
}


.menu_back {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);

    display: none;

    .menu_bar {
        width: 100%;
        height: 300px;
        background: #f0f0f0;
        text-align: center;

        .menu_01 {
            padding: 30px 0;
            border-bottom: 1px solid #C2C2C2;

            a {
                margin: 0 30px;
            }

        }

        .menu_02 {
            padding-top: 20px;

            p {
                margin: 20px 0;

                a {
                    font-size: 16px;
                    color: #000;
                }
            }
        }
    }
}

.menu_back.active {
    display: block;
}


.search_back {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100vh;
    display: none;


    .search_view {
        width: 100%;
        height: 300px;
        background: #fff;


        .search_01 {
            text-align: center;
            padding: 30px 0;
            border-bottom: 1px solid #C2C2C2;

            img {
                opacity: 0.2;
                margin: 0 10px;
            }


            input {
                border: 0;
                padding: 5px 10px;
                font-size: 16px;
                width: 40%;


            }

            input:focus {
                outline: none;
            }



        }

        .search_02 {
            text-align: center;
            margin: 20px 0;
            font-size: 16px;


            >p {
                margin: 30px 0;
                font-weight: 600;
            }

            a {
                display: block;
                color: #000;
                margin: 10px 0;
            }
        }
    }
}


.search_back.active {
    display: block;

}