@import "./_header.scss";
@import "./_footer.scss";
@import "./_bar.scss";



main {
    p {
        margin-bottom: 100px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    h2 {
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        padding: 50px 0;
    }

    @include res(tab) {
        p {
            img {
                height: 100vh;
            }
        }
    }

    .img_arr {
        @include flexbox($ai: c);
        width: 80%;
        margin: 0 auto 110px;

        div {
            margin: 5px;

            img {
                width: 100%;
                margin: 5px 0;
            }
        }
    }

    @include res(mob) {
        p {
            margin: 0;

            img {}
        }

        h2 {
            display: none;
        }

        .img_arr {

            display: none;
        }

    }
}