@import "./_header.scss";
@import "./_footer.scss";
@import "./_bar.scss";


main {
    .stories_mob {
        display: none;
    }

    @include res(mob) {
        .stories_mob {
            display: block;
            text-align: center;
            padding: 10px 0;
            font-size: 20px;
            font-weight: 300;
        }
    }

    .main_story_01 {
        text-align: center;

        figure {
            p {
                img {
                    width: 100%;
                }
            }

            figcaption {
                font-size: 28px;
                font-weight: 400;
                padding: 30px 10px;
                margin-bottom: 300px;
            }
        }
    }

    @include res(tab) {

        .main_story_01 {
            display: none;
        }

    }

    .main_story_02 {
        width: 80%;
        margin: 0 auto;
        @include flexbox(sb);

        p {
            img {
                width: 100%;
                height: 60vh;
                object-fit: cover;
            }
        }

        >div {
            width: 40%;
            margin: 5px 0 0 15px;


            >b {
                font-size: 37px;
                font-weight: 500;
                display: inline-block;

            }

            >p {
                font-size: 24px;
                font-weight: 400;
                color: #545454;
                padding: 10px 0 30px;

            }

            span {
                font-size: 16px;
                font-weight: 400;
                color: #545454;
                word-break: keep-all;
            }

            .main_story_mob {
                display: none;
            }
        }
    }

    @include res(tab) {
        .main_story_02 {
            width: 90%;
            display: block;
            margin: 0 auto;

            p {
                img {}
            }

            >div {
                width: 100%;
                margin: 0;
                padding-left: 10px;

                b {
                    padding: 20px 0;
                    font-size: 24px;
                }

                p,
                span {
                    display: none;
                }

                .main_story_mob {
                    display: block;
                    font-size: 16px;
                }
            }
        }
    }

    @include res(mob) {
        .main_story_02 {
            p {
                img {
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }

    .more_story {
        width: 80%;
        margin: 250px auto;
        text-align: center;

        p {
            font-size: 36px;
            font-weight: 400;
            margin-top: 50px;

        }


        div {
            @include flexbox(sb);

            figure {
                width: 33%;

                p {
                    img {
                        width: 100%;
                    }
                }

                figcaption {
                    text-align: left;
                    margin: 10px;

                    p {
                        font-size: 28px;
                        font-weight: 400;
                        margin: 0;
                        padding-bottom: 10px;
                    }

                    span {
                        color: #545454;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @include res(tab) {

        .more_story {
            width: 90%;
            margin: 0 auto;
            text-align: left;

            p {
                padding-left: 10px;
                font-size: 18px;
            }

            div {
                display: none;
            }
        }
    }

}



.more_story_grid {
    display: none;

    @include res(tab) {
        display: grid; //그리드
        width: 90%;
        margin: 30px auto 50px;
        grid-template-columns: 70% 30%; //왼쪽70% 오른쪽30%
        gap: 5px;

        p:nth-of-type(1) {
            grid-row: 1 / span 2; //왼쪽 1칸에 2개의 그리드(병합)

            img {
                width: 100%;
            }
        }

        p:nth-of-type(2) {
            img {
                width: 100%;
                height: 100%;
            }
        }

        p:nth-of-type(3) {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}